html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #f1f3f6;
  padding: 16px; 
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body div {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-size: 16px;
  color: #424342;
  font-weight: 600;
}

section,
form {
  margin-top: 20px;
  border: 1px solid #e4e6e9;
  padding: 20px 16px;
  background: #fff;
}

h1 {
  border-left: 4px solid #e4e6e9;
  color: #7e869b;
  font-size: 24px;
  padding: 8px 10px;
  position: relative;
}

h1:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 60%; 
  height: 3px;
  background: #e4e6e9;
}

/* .action_bar,
#add_invoice_block,
#edit_invoice_block, #remove_invoice_block {
  button {
    color: #fff;
    border: none;
    background: #4973ff;
    padding: 12px 32px;
    border-radius: 6px;
    margin: 8px 8px 0 0;
    cursor: pointer;

    &:hover {
      background: #1445e3;
    }

    &:focus {
      outline: none;
    }
  }
} */



@media (min-width: 576px) {
  h1:after {
    width: 76%;
  }
}

@media (min-width: 768px) {
  section,
  form {
    margin-top: 28px;
  }

  body {
    padding: 24px;
  }

  h1 :after {
    width: 84%;
  }
}

@media (min-width: 992px) {
  h1:after {
    width: 88%;
  }
}

@media (min-width: 1200px) {
  h1 :after {
    width: 90%;
  }
}
